{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range (where .Data.Pages "Section" "portfolio") }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .Params.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>{{ .Title }}</h2>
						<hr class="star-primary">
						servus modals
						{{ if and (isset .Params "image") .Params.image }}
						<img src="img{{ .URL }}{{ .Params.image }}" class="img-responsive img-centered" alt="">
						{{ end }}
						<p>{{ .Description | markdownify }}</p>
						<p>{{ .Content | markdownify }}</p>
						<ul class="list-inline item-details">
							<!--
							<li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}{{ end }}:
									<strong><a href="{{ .Params.image }}">{{ .Params.image }}</a></strong>
							</li>
							<li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}{{ end }}:
									<strong>{{ .Date }}</strong>
							</li>
							<li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}{{ end }}:
									<strong>{{ .Date }}</strong>
							</li>
							-->
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttontext }}{{.}}{{ end }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
